<%- include ('../parts/head.ejs',{bot,user})%>
  <br>
  <br>
  
  <style>
    
   .container .enable-button{
     
     background:var(--nav-color);
     border:none;
     width:100%;
     border-radius:10%;
     height:230px;
     
    }
.container .enable-button i{
  
  color:var(--sharabi);
  font-size:50px;
  
    }
.container .disable-button{
  border-radius:10%;
  background:var(--nav-color);
  border:none;
    width:100%;
  height:230px;
  
    }
    .container .disable-button i{
      color:#767A81;
      font-size:50px;
      
    }
  </style>
  <div class="container">
    
    
   <div class="container contact-form">
     <form method="post">
    <div class="row">
     <% if(data.time !== null && cooldown - (Date.now() - data.time) > 0){ %>
       <div class="form-group">
         
         <h3> You Are claimed Your Daily</h3>
         <button  class="disable-button" disabled><i class="fa-solid fa-gift"></button>
           
           
           
        
           <p id="time"></p>
             
             
        
           </div>
         <% }else{%>
       <div class="form-group">
         <h3> Claim You Daily</h3>
         
         
         
       <button type="submit" class="enable-button" id="myButton" onclick="onclick()">  <i class="fa-solid fa-gift"></i></button>
            </div>
       
       <% }%>
      </div>
     </form>
    </div>
    
    
    
  </div>
  
  <script>
    
    
var urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('success') && urlParams.get('success')){
    Swal.fire({
     icon: 'success',
     title: 'Successful...',
     closeOnConfirm: false,
     text: urlParams.get('message'),
     footer: 'Copyright 2021 &copy  - All right reserved.'
    }).then((result) => {
  if (result.isConfirmed) {
    window.location.href = `/daily`;
  }
})
      
      
      
      
}
    
    
  if(urlParams.has('error') && urlParams.get('error')){
    Swal.fire({
     icon: 'error',
     title: 'Oops...',
     text: urlParams.get('message'),
     footer: ' - All right reserved.'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = '/daily';
      }
    })}
  
    
    // Set the date we're counting down to
var countDownDate =  43200000// new Date(data.time).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = Date.now();

  // Find the distance between now and the count down date
  var distance = countDownDate - (now- urlParams.get(data.time))

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("time").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  /*if (distance < 0) {
    clearInterval(x);
    window.location.href='/daily';
  }*/
}, 1000);
    
    
  
</script>
  
  
  <%- include ('../parts/foot.ejs')%>