
 <%- include ("../parts/guilds",{bot,user})%>
<style>
  .container {
    height:100vh;
    
  }
  

  
   </style>
  
  
  <h3 class="all-header">Welcome to my dashboard </h3>

  
  <div class="container">
<% if(data){%>
  

<div class="boxs">
<div class="box1 box">

       <div class="containerB">
           <p class="text-break"><%=data.info%></p>
            
      </div>
                                       
</div>
  <div class="box2 box">
    
    <div class="containerB">
      <h3 class="bigText"><%= data.money%></h3>
        </div>

    </div>
   
  
  
  </div>
   <% }%> 
     </div>
    
<div style="padding-bottom: 20px;"></div>
  
  
  

  
  

  
  
  
  
  
  
  
  
  
  
  
  <%- include ('../parts/foot.ejs')%>