<footer class="sticky-footer bg-dark-200">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright 2021 &copy; BoBo Team</span>
        </div>
    </div>
</footer>

</body>
</html>