
<style>
  
  .footer-wave{
    margin-right:-30px;
margin-bottom: -100px;
    .footer-text{
      color:white;
      
  }
</style>
<div class="footer-wave">
<p class="footer-text">© 2021 All rights reserved.
  Contact - Terms Of Use - </p>
<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 700" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
          .path-0{
            animation:pathAnim-0 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes pathAnim-0{
            0%{
              d: path("M 0,700 C 0,700 0,350 0,350 C 244.5,401.5 489,453 729,453 C 969,453 1204.5,401.5 1440,350 C 1440,350 1440,700 1440,700 Z");
            }
            25%{
              d: path("M 0,700 C 0,700 0,350 0,350 C 213.5,288 427,226 667,226 C 907,226 1173.5,288 1440,350 C 1440,350 1440,700 1440,700 Z");
            }
            50%{
              d: path("M 0,700 C 0,700 0,350 0,350 C 182,392 364,434 604,434 C 844,434 1142,392 1440,350 C 1440,350 1440,700 1440,700 Z");
            }
            75%{
              d: path("M 0,700 C 0,700 0,350 0,350 C 279.5,356.5 559,363 799,363 C 1039,363 1239.5,356.5 1440,350 C 1440,350 1440,700 1440,700 Z");
            }
            100%{
              d: path("M 0,700 C 0,700 0,350 0,350 C 244.5,401.5 489,453 729,453 C 969,453 1204.5,401.5 1440,350 C 1440,350 1440,700 1440,700 Z");
            }
          }</style><defs><linearGradient id="gradient" x1="1%" y1="41%" x2="99%" y2="59%"><stop offset="5%" stop-color="#002bdcff"></stop><stop offset="95%" stop-color="#32ded4ff"></stop></linearGradient></defs><path d="M 0,700 C 0,700 0,350 0,350 C 244.5,401.5 489,453 729,453 C 969,453 1204.5,401.5 1440,350 C 1440,350 1440,700 1440,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" class="transition-all duration-300 ease-in-out delay-150 path-0"></path></svg>

</div>
</body>
</html>