

<style>

   ul{
  
    justify-content:space-around;
  }
  ul li{
    list-style:none;
  }
  ul li a {
    text-decoration: none;
    font-size:25px;
      color: white;
  }
  ul li a:hover{
    color: yellow;
  }
.my-auto {
  
  
  background: var(--navlist-color);
  }
  
  
  .my-auto:hover{
background:var(--sharabi);
    
  }
  
  
</style>
<div class="list-group"> 
  <a href="#" class="list-group-item active"> 
   <span class="glyphicon glyphicon-camera"></span> Pictures <span class="badge">25</span> 
  </a> 
  <a href="#" class="list-group-item"> 
   <span class="glyphicon glyphicon-file"></span> Documents <span class="badge">145</span> 
  </a> 
  <a href="#" class="list-group-item"> 
   <span class="glyphicon glyphicon-music"></span> Music <span class="badge">50</span> 
  </a> 
  <a href="#" class="list-group-item"> 
   <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span> 
  </a> 
 </div> 
 <!--



    <div class="container" style=" position: relative; bottom:0;">
     <div class="row">
    
        <hr>
        <ul>
          <li><a href="/support"><i class="fa-brands fa-discord"></i>   Discord</a></li>
          <li><a href="#"><i class="fa-solid fa-handshake"></i>Partners</a></li>
        </ul>
        </hr>
        <div class="copyright text-center my-auto">
            <span>Copyright 2022 &copy; BoBo Team</span>
 
       </div>
    
    </div>
-->

</body>
</html>