

<style>

   ul{
  
    justify-content:space-around;
  }
  ul li{
    list-style:none;
  }
  ul li a {
    text-decoration: none;
    font-size:25px;
      color: white;
  }
  ul li a:hover{
    color: yellow;
  }
.my-auto {
  
  
  background: var(--navlist-color);
  }
  
  
  .my-auto:hover{
background:var(--sharabi);
    
  }
  
  
</style> 
 


    <div class="container">
     <div class="row">
    
        <hr>
        <ul>
          <li><a href="/support"><i class="fa-brands fa-discord"></i>   Discord</a></li>
          <li><a href="#"><i class="fa-solid fa-handshake"></i>Partners</a></li>
        </ul>
        </hr>
        <div class="copyright text-center my-auto">
            <span>Copyright 2022 &copy; BoBo Team</span>
 
       </div>
    
    </div>
<script src="//code.tidio.co/0ccdnj4bc8npj7ev3kjz0a4cxaqmeuqy.js" async></script>
</body>
</html>
