

<br>
<br>
<br>

<style>
  
.my-auto {
  
  
  background: var(--navlist-color);
  }
  
  
  .my-auto:hover{
background:var(--sharabi);
    
  }
  
  
</style>




    <div class="container">
        <div class="copyright text-center my-auto">
            <span>Copyright 2022 &copy; BoBo Team</span>
        </div>
    </div>


</body>
</html>