
<style>
  
  .footer-wave{
    
    position:relative;
    bottom:0;
    
}
  .footer #wave{
    position: relative;
    bottom:0;
  }
  .footer-text{

      color: #ffff;
    padding-top:40pc;
      
  }
</style>

  <div class="footer-text">This dashboard made by #HAMA</div>
<div class="footer-wave">

  
  <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 490" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(62, 198.961, 243, 1)" offset="0%"></stop><stop stop-color="rgba(11, 191.123, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,49L240,57.2C480,65,960,82,1440,147C1920,212,2400,327,2880,310.3C3360,294,3840,147,4320,122.5C4800,98,5280,196,5760,245C6240,294,6720,294,7200,285.8C7680,278,8160,261,8640,277.7C9120,294,9600,343,10080,359.3C10560,376,11040,359,11520,367.5C12000,376,12480,408,12960,375.7C13440,343,13920,245,14400,204.2C14880,163,15360,180,15840,155.2C16320,131,16800,65,17280,73.5C17760,82,18240,163,18720,196C19200,229,19680,212,20160,236.8C20640,261,21120,327,21600,367.5C22080,408,22560,425,23040,424.7C23520,425,24000,408,24480,375.7C24960,343,25440,294,25920,261.3C26400,229,26880,212,27360,245C27840,278,28320,359,28800,334.8C29280,310,29760,180,30240,163.3C30720,147,31200,245,31680,245C32160,245,32640,147,33120,98C33600,49,34080,49,34320,49L34560,49L34560,490L34320,490C34080,490,33600,490,33120,490C32640,490,32160,490,31680,490C31200,490,30720,490,30240,490C29760,490,29280,490,28800,490C28320,490,27840,490,27360,490C26880,490,26400,490,25920,490C25440,490,24960,490,24480,490C24000,490,23520,490,23040,490C22560,490,22080,490,21600,490C21120,490,20640,490,20160,490C19680,490,19200,490,18720,490C18240,490,17760,490,17280,490C16800,490,16320,490,15840,490C15360,490,14880,490,14400,490C13920,490,13440,490,12960,490C12480,490,12000,490,11520,490C11040,490,10560,490,10080,490C9600,490,9120,490,8640,490C8160,490,7680,490,7200,490C6720,490,6240,490,5760,490C5280,490,4800,490,4320,490C3840,490,3360,490,2880,490C2400,490,1920,490,1440,490C960,490,480,490,240,490L0,490Z"></path></svg>
  
  
</div>

</body>
</html>