

<br>
<br>
<br>
<style>
.container .my-auto {
  margin-left:10px;
  
  
  background: var(--nav-color);
  }
  .container .my-auto:hover{
background:var(--sharabi);
    
  }
  
  
</style>




<footer class="sticky-footer bg-dark-200">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright 2022 &copy; BoBo Team</span>
        </div>
    </div>
</footer>

</body>
</html>