<%- include ('./meta.ejs')%>
  <div class="all-background">
  <div class="up-page">
    <!--
              <div class="nav-bar-toggle">
        <span class="bar">hip</span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
-->
<div class="icons">
<div class="icon"><i class="fas fa-arrow-right"></i>
</div>

</div>
<script>
  
</script>
  <div class="up-link">
  <span class="logo"><img src="../../img/bobo.png"/>Bobo website</span>
     <ul>
    <li>
      <a href="about.html">
      <span><i class="fas fa-info"></i> About</span>
      </a>
    </li>
        <li>
      <a href="../error/404.html">
      <span><i class="fas fa-align-center"></i> Commands</span>
      </a>
    </li>
     
     </div>
    
  </div>
  <br><br>