<!DOCTYPE html>
<html lang="en">
<head>
  
  <!--
         <link rel="icon" href="<%=bot.user.displayAvatarURL()%>" type="image/x-icon" />
        <link rel="shortcut icon" href="<%=bot.user.displayAvatarURL()%>" type="image/x-icon">-->
       <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Website",
        "url": "https://boboworld.tk/"
        }
        </script>
   
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Moderation, logs, economy, funny, ranking, levelling, welcomer">
    <meta name="keywords" content="Discord Bot,Bobo bot">
    <meta name="author" content="HAMA DEV">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="twitter:image" content="<%=bot.user.displayAvatarURL()%>">
  <link rel="canoical" href="https://boboworld.tk">
   
  <meta name="theme-color" content="#f734ca">
       <meta name="googlebot" content="index">
        <meta name="googlebot-news" content="snippet">
        <meta name="robots" content="follow">
        <meta name="publisher" content="2022, LORD">

  
<%- include('./links.ejs')%>
  
</head>
<body>
  <style>
  .preloader{
    height:100vh;
   
    background: #000 url(https://imgur.com/BnLgepd.png) no-repeat center center;
    background-size:50%;
    width:100%;
      position: fixed;
    z-index:100;}
    .preloader img{
      width:300px;
      position: relative;
    top:200px;
  
    height:300px;
    }
    @keyframes h {
      
    }
    
  </style>
  
  <div class="preloader">
  
    
  </div>