<!DOCTYPE html>
<html lang="en">
<head>
  
  
         <link rel="icon" href="<%=bot.user.displayAvatarURL()%>" type="image/x-icon" />
        <link rel="shortcut icon" href="<%=bot.user.displayAvatarURL()%>" type="image/x-icon">
       <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Website",
        "url": "https://boboworld.tk/"
        }
        </script>
   
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Moderation, logs, economy, funny, ranking, levelling, welcomer">
    <meta name="keywords" content="Discord Bot,Bobo bot">
    <meta name="author" content="HAMA DEV">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="twitter:image" content="<%=bot.user.displayAvatarURL()%>">
  <link rel="canoical" href="https://boboworld.tk">
   
  <meta name="theme-color" content="#f734ca">
       <meta name="googlebot" content="index">
        <meta name="googlebot-news" content="snippet">
        <meta name="robots" content="follow">
        <meta name="publisher" content="2022, LORD">

  
<%- include('./links.ejs')%>
  
</head>
<body>
  
  <style>
  #preloader{
    height:100vh;

    background: var(--navlist-color);
  
    width:100%;
      position: fixed;

    z-index:100;}
  
    
    .lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

  </style>
  
  <div id="preloader">
    <div class="container">
  <div class="lds-facebook">
    <div></div>
    <div></div>
    <div>
    </div>
      </div>
    
    </div></div>
  <script>
    var loader = document.getElementById("preloader")
    window.addEventListener("load", function(){
      setTimeout(()=>{

      loader.style.display = "none";
        
      },2000)
    })
  </script>