.fade-in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@media screen and (min-width: 500px){
  
  .button-container {
margin-left: 70px;
margin-top: 50px;
display: flex;

}
  
  .button-container li{
    margin-right:30px;
  list-style: none;
}
  
  .text-page{
    text-align: center;

  }
}
.fade-in-scroll {
  opacity: 0;
}
.button-container {

  display: block;

}

.button-container li{
  list-style: none;
}
.button-container li a{
  display: block;
  margin: 0px;
  
  margin-right: 20px;
  margin-left: 0px;
  padding: 10px;
  text-decoration: none;
  color: white;
  min-width: 100px;
  text-align: center;
  background-color: #272928;
  border-radius: 5px;
}
.button-container li a:hover{
  color: white;
  background-color: #f734ca;
}/*
.btn-down{
  position: absolute;
 width: 100%;
 display: none;
 height:3px;
 background-color: white;
  border-radius: 4px;
}*//*
.btn-down{
 position: absolute;
  cursor: pointer;
  top: 1.25rem;
  right: 1.25rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}


.btn-down .nav{
  height: 3px;
  width: 100%;
  display: block;
  position: fixed;
  background-color: white;
 
  border-radius: 10px;
}
.nav-bar-toggle{
  
position: absolute;
  cursor: pointer;
  top: 1.25rem;
  right: 1.25rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.nav-bar-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}*/
/***----------all text information-------**/
.text-page{
color: white;
padding-top:30px;
padding-bottom:300px;

padding-left: 10px;
/* animation: anime 30s ease-out infinite;*/
}
.text-page .text-contet {
 /* font-size: 30px;*/
  text-align: center;
}

.icons .icon{
  color: white;
  font-size: 20px;
}
/**+++++----- preloader------*/

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
