:root {
  --white: white;
  --black: black;
  --blue: dodgerblue;
  --red: red;
  --nilikall: #363a68;
  --nili: #1c1e3a;
--nav-color: #212122;
--navlist-color:#282D35;
  --sharabi:#f734ca;
}

.sidebar {
  z-index: 1;
  top: -10%;
  left: 0;
  width: 240px;
  height: 100%;
  display: none;
  position: fixed;
  background: var(--nav-color);
}


.sidebar.guild{
z-index:1;
  top:-10%;
  left:0;
  width:100px;
  height:100%;
  display:none;
  position: fixed;
  background:var(--nav-color);
  
}

.sidebar .logo-name {
  color: var(--white);
  font-size: 18px;
  margin-left: 90px;
}
.sidebar .logo-detail img {
  width: 40px;

  line-height: 4px;
  min-width: 70px;
}
.sidebar .nav-list {
  left: 40px;
  background: var(--nav-color);
  height: 100%;

}
.sidebar .nav-list .list li .link_name {
  color: var(--white);
margin-right: 130px;
  font-size: 18px;
}
.sidebar .nav-list .list li i {
  height: 50px;
  color: var(--white);
  line-height: 10px;
  min-width: 78px;
}
.sidebar .nav-list .list li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-list .list li a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar .nav-list .list li:hover .link_name {
  color: var(--white);
}
.sidebar .nav-list .list li i {
  color: var(--white);
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
}
.sidebar .nav-list .list .sub-menu {
  padding: 6px 6px 10px 100px;
  margin-top: -10px;
  display: none;
  line-height: 50px;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  font-size: 15px;
  background: var(--nilikall);
}
.sidebar .nav-list .list .showMenu .sub-menu {
  display: block;
}

.sidebar .nav-list .list .sub-menu li {
  list-style: none;
}

.sidebar .nav-list .list .sub-menu a {
  text-decoration: none;
  color: var(--white);
  width: 100%;
}
.sidebar .nav-list .list li .icon a:hover{
background: var(--sharabi);

  
}

.sidebar .nav-list .profile-detail {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .nav-list .profile-detail .profile-content img {
  width: 52px;

  border-radius: 50%;
  object-fit: cover;
  height: 52px;
  margin-right: 25px;
  
  

}
.sidebar .nav-list .profile-detail .profile-name i {
  font-size: 37px;
  display:none;
  color: var(--white);
  margin-left: 90px;
}


.sidebar .nav-list .profile-detail .profile-name {
  margin-right: 7px;
  
  color: var(--white);
  
  font-size: 20px;
  
  font-weight: 300;
  
}


.home-section {
  z-index:1;
  position: relative;
  left: 0px;
  width: calc(100% - 230px);

  transition: all 1.3s ease;
}

.sidebar .home-section .home-content {
  position: absolute;
  display: flex;
  height: 60px;
  align-items: center;
}
.sidebar .home-section {
  
  display: flex;

  left: 0px;
  width: calc(100% - 78px);
}
.sidebar.close {
  
  top: 50px;
  border-top-right-radius: 30px;
  display: block;
  position: fixed;
  animation: fadeIn ease 0.5s;
}
@keyframes fadeIn {
  0% {
  opacity:0;
  }
  100% {
    opacity: 1;
  }
}
.home-section .home-content .text i {
  position: fixed;
  color: var(--white);
  font-size: 30px;
  top: 17px;
  opacity:0.5;
  left: 20px;
}

.home-section .home-img {
height:70px;
  position: fixed;
  width: 100%;
  background: var(--nav-color);
  text-align: center;
}
.home-section .home-img img {
  width: 60px;
  
  height: 60px;
  
  margin-top:7px;
  border-radius: 50%;
}

.sidebar.guild .nav-list .list li a img{
  width:70px;
  height:70px;
  margin-left:-20px;
  margin-top:0px;
  border-radius:50%;
   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); 
  transition: all 0.5s ease;
  
}

.sidebar.guild .nav-list .list li a:hover img{
  
 --webkit-filter: none;
  filter: none;
  animation: guildimg  1.3s ease-in-out infinite alternate;
 width:80px;
  transition: all 0.6s ease;
  height:80px;
  
}

@keyframes guildimg{
  from{ 
    box-shadow:00 1px lightcyan 00 1px lightcyan 00 1px lightblue 00 1px lightcyan 00 1px lightcyan;}
  to{
    box-shadow: 00 1px lightcyan;
  }
    
  }
/**-++++-+++++admin section-------*/
.sidebar .nav-list .list li .admin {
  border-right: 4px solid yellow;
  width:160px;
  border-left:4px solid yellow;
  
  
  
}