:root {
  --white: white;
  --black: black;
  --blue: dodgerblue;
  --red: red;
  --nilikall: #363a68;
  --nili: #1c1e3a;
  --nav-color: #212122;
  --navlist-color: #282d35;
  --sharabi: #f734ca;
}

.sidebar {
  z-index: 1;
top:-10%;
  left: 0;
  width: 240px;
  height: 100%;
  display: none;
  position: fixed;
  transition: all 1s ease;
  background: var(--nav-color);
}

.sidebar.guild {
  z-index: 1;
  top: -10%;
  left: 0;
  width: 100px;
  height: 100%;
  display: none;
  position: fixed;
  background: var(--nav-color);
}

.sidebar .logo-name {
  
  color: var(--white);
  font-size: 18px;
  margin-left: 90px;
}
.sidebar .logo-detail img {
  width: 40px;

  line-height: 4px;
  min-width: 70px;
}
.sidebar .nav-list {
  transition:all 1s ease;
  position: relative;
  left: 0;
display:block;
  background: var(--nav-color);
  height: 100%;
}


.sidebar .nav-list .list{
  
  position: relative;
  left:0;
    margin-left:-30px;
}

.sidebar .nav-list .list li .link_name {
  color: #7C7C7D;
  
margin-left:60px;
  font-size: 18px;
}


.sidebar .nav-list  li i {
  position: fixed;
  color: var(--white);
  text-align: center;
  margin-left:180px;
   display:flex;
  line-height:20px;
  min-width: 78px;
  transition: all 0s ease;

  font-size: 18px;
}

.sidebar .nav-list  li {
  padding-bottom: 40px;
  position: relative;
  list-style: none;
  transition: all 0s ease;
}
.sidebar .nav-list  li a {
  text-decoration: none;
  display: flex;
  align-items: center;
}/*

.sidebar .nav-list .list li.showMenu i.arrow {
  
  transform: rotate(-180deg);
margin-left:140px;
  transition: all 0s ease;
}

.sidebar .nav-list .sub-menu {
text-align: center;
left:0;
  position: relative;
  display: none;
  border-radius:4%;
  background: var(--navlist-color);

}
.sidebar .nav-list  .sub-menu li{

  width:100%;
  padding:0;
  position: relative;
left:40px;
}
.sidebar .nav-list li .sub-menu a {
text-align: center;
  color: var(--white);

  font-size: 18px;
}

.sidebar .nav-list .showMenu .sub-menu {

  display: block;
}

.sidebar .nav-list .list li .icon {
  align-items: center;
  display:flex;
  justify-content: space-between;
}

.sidebar .nav-list .list li .link_name:hover {
  font-size: 22px;
  color:var(--sharabi);
  opacity:1;
}*/
.sidebar .nav-list ul li a {
  
  text-decoration:none;
  
  color: white;
  
}



 .home-section .home-profile {
   
   
   right:-200px;
   top:20px;
position: absolute;
align-items: center;
   
}
 .home-section .home-profile img {
  width: 42px;

  border-radius: 50%;
  object-fit: cover;
  height: 42px;
  
}

 .home-section .home-profile .list2{
   width:100%;

   background:var(--nav-color);
  font-size: 15px;
  display:none;
  color: var(--white);
  position:fixed;
   left:0;
   height:60px;
   
   
   margin-top: 20px;
}


.home-section .home-profile .list2 li{
  list-style: none;

  margin-top:20px;
  
}

.home-section .home-profile .list2 li a {
  font-size:10px;
  text-decoration: none;
  color:var(--white);
  padding-right:30px; 
}

.home-section .home-profile .list2.close{
  display:flex;
}


.home-section {
  z-index: 1;
  position: fixed;
  
  left: 0px;
  width: calc(100% - 230px);


  transition: all 1.3s ease;
}

.home-section .home-content {
  position: absolute;
  display:flex;
  height: 60px;
  align-items: center;


}
.sidebar .home-section {
  display: flex;

  left: 0px;
  width: calc(100% - 78px);
}


/*
.sidebar.close .logo-detail{
  animation: fadeIn ease 0.5s;
  transition: all 1s ease;
  display:none
}

  .sidebar.close .nav-list{
    transition: all 1s ease;
    display:n
    
}*/
.sidebar.close {
  top: 50px;
  border-top-right-radius: 30px;
  display: block;
  transition: all 1s ease;
  position: fixed;

  animation: fadeIn ease 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home-section .home-content .text i {
  position: fixed;
  color: var(--white);
  font-size: 30px;
  top: 17px;
  opacity: 0.5;
  left: 20px;
}

.home-section .home-img {
  transition: all 1s ease;
  height: 70px;
  position: fixed;
  width: 100%;
  background: var(--nav-color);
  text-align: center;
}
.home-section .home-img img {


  height: 60px;

  margin-top: 7px;
  border-radius: 50%;
}/*

.sidebar.guild .nav-list .list li a img {
  width: 70px;
  height: 70px;
  margin-left: -20px;
  margin-top: 0px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  transition: all 0.5s ease;
}*//*

.sidebar.guild .nav-list .list li a:hover img {
  --webkit-filter: none;
  filter: none;
  animation: guildimg 1.3s ease-in-out infinite alternate;
  width: 80px;
  transition: all 0.6s ease;
  height: 80px;
}

@keyframes guildimg {
  from {
    box-shadow: 00 1px lightcyan 00 1px lightcyan 00 1px lightblue 00 1px
      lightcyan 00 1px lightcyan;
  }
  to {
    box-shadow: 00 1px lightcyan;
  }
}
/**-++++-+++++admin section-------*/