@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --white-text: white;
  --black: #18191c;
  --red-text: red;
  --nili: #00031c;
  --nilitox: #0d0027;
  --grey: #23272a;
  --bg-color: #282d35;
  --form-input: #1e2023;
  --input-disabled: #26282b;
  --label-color: #fff;
  --form-background: #18191c;
  --button-green: #5865f2;
  --button-green-hover: #4554f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282d35;
  background-attachment: absolute;
  background-position: center center;
  background: var(--bg-color);
  animation: 30s ease-out infinite;
  background-size: cover;
  background-repeat: no-repeat;

  background-blend-mode: overlay;
  font-family: "Quicksand", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-body);
}

::-webkit-scrollbar-thumb {
  border: 1px solid #1e2023;
  background-color: var(--bg-section);
}

@keyframes hama {
  from {
    background: var(--bg-color);
    right: 10px;
  }
  to {
    background: var(--bg-color);
    right: 100px;
  }
}

.all-header {
  color: var(--white-text);
  text-align: center;
}

/*-+++-+------ banner png*/
.main-container {

  width: 100%;
  height: 200px;
}
.main-container img {
  width: 150px;
  height: 150px;

  margin-left: 130px;
  border-radius: 40px;
}
/*------text in logo*/
.main-container .bobo-text {
  text-align: center;
  font-size: 27px;
  margin-top:30px;
  
  text-shadow: 10px 10px 10px 10px rgba(0, 0, 0.5);
  color: var(--white-text);
}
.main-container .text-title  {
  color: white;
  width:350px;
  margin-left:20px;
}

/**----media*-*/
@media screen and (min-width: 500px) {
  .toast-page{
    left:0;
  }
  .main-container {
    align-items: center;
    text-align: center;

  }
  .main-container img{
    
    margin-right:100px;
  }

  
  .main-container .bobo-text {
    font-size: 60px;
    text-align: center;
  }
  .main-container .text-title {
  
    margin-left:350px;
 text-align: center;
    font-size:23px;
  }
}
/*---------*/

/*---max text*/
.banner-png .max-text {
  display: none;
}

/*------text contet***----*/

@keyframes anime {
  0% {
    background-color: var(--nili);
    background-position: 0% 50%;
  }
  50% {
    background-color: var(--nilitox);
    background-position: 100% 50%;
  }
  100% {
    background-color: var(--black);
    background-position: 0% 50%;
  }
}

/**-----fadin*/
@keyframes fadein {
  0% {
    background-color: var(--bg-color);
    background-position: 0% 50%;
  }
  50% {
    background-color: var(--bg-color);
    background-position: 100% 50%;
  }
}

.boxs .box1 {
  background: url("https://imgur.com/wgljRvr.png");
  background-position: center;

  background-size: 100%;
}

.boxs .box2 {
  background: url("https://imgur.com/wH8wcgv.png");

  background-position: center;
  background-size: 100%;
}

.boxs .box3 {
  background: url("https://imgur.com/StTO12l.png");

  background-position: center;
  background-size: 100%;
}
.boxs .box4 {
  background: url("https://imgur.com/MZzt9zF.png");
  background-position: center;

  background-size: 100%;
}
.boxs .box {
  padding: 10px 10px 10px 10px;
  height: 100px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.05);
  position: relative;
  border-radius: 4px;
  color: white;
  transition: all 0.4s;
}

.boxs .box4 .containerB .heading,
.boxs .box4 .container .boxText {
  pointer-events: none;
}

.boxs .box .containerB {
  position: absolute;
  padding: 0 0 0 10px;
  color: var(--text);
}

.boxs .box .containerB h4.bigText {
  font-size: 35px;
  position: relative;
  margin-right: 100px;
  top: -40px;
}

.boxs .box .containerB h4.bigText input {
  font-size: 25px;
  background: transparent;
  color: white;
  outline: none;

  border: none;
  width: 150px;
}

.boxs .statuses .containerB h4.bigText {
  font-size: 30px;
}

.boxs .box .containerB .heading {
  font-size: 17px;
  font-weight: 500;
  position: relative;
  top: -10px;
}

.boxs .statuses .containerB .heading {
  top: -5px;
}

.boxs .box .containerB .boxText {
  font-size: 13px;
  position: relative;
  top: -10px;
}

.servers {
  position: static;
  /* margin-left: 150px;*/
  width: 240px;
}
/*-------------all views commands css in here--++++*/

.container {
  margin: 0 auto;
  border-radius: 30px;
}

.container form {
  /* box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.5);*/
  border-radius: 30px;
}

.contact-form {
  background: var(--grey);
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
}
.contact-form input {
  background-color: #2c2f33;
  color: #fff;
  border: none;
}
.contact-form textarea {
  width: 270px;
  height: 150px;
  background-color: #2c2f33;
  color: #fff;
  border: none;
}
.contact-form textarea:focus {
  background-color: #2c2f33;
  color: #fff;
  border: none;
}
.contact-form input:focus {
  background-color: #2c2f33;
  color: #fff;
  border: none;
}
.contact-form input:disabled {
  background-color: #2c2f33;
  color: rgb(73, 73, 73);
  border: none;
}
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}
.contact-image i {
  border-radius: 6rem;
  width: 11%;
  margin-top: -7%;
}
.contact-form form {
  padding: 14%;
}
.contact-form form .row {
  margin-bottom: -7%;
}
.contact-form h6 {
  margin-top: 70px;
  margin-right: 170px;
}
.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}
.contact-form label {
  font-size: 24x;
  line-height: 22px;

  color: #fff;
}
.contact-form label i {
  font-size: 25px;
  line-height: 20px;
}

/****---------end--------------***/
@media only screen and (min-height: 800px) {
  .boxs .box {
    position: relative;
    display: flex;
  }
  .contact-form .col-md-6 {
    margin-left: 120px;
  }
} /*
 .contact-form select {
   color:#4E5053;
   border:2px solid var(--black);
   background:var(--grey);
   
   width:200px;
}*/
/*command*/
.contact-form .col {
  line-height: 90px;
}
.contact-form .variables {
  display: flex;
  line-height: 40px;
  /*  margin-right:140px;*/
}
.contact-form .variables span {
  color: #a60c44;
}
.contact-form .variables p {
  font-size: 16px;

  margin-left: 10px;
  color: #454546;
}

.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*+----------wrda kari-------*/
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.py-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
.px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.max-w-7xl {
  max-width: 80rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.w-full {
  width: 100%;
}
.mt-2 {
  margin-top: 0.5rem;
}
.order-3 {
  order: 3;
}

/*--------select style*/
* {
  -webkit-user-select: none;
  user-select: none;
}
.selectdivx {
  border-radius: 5px;
  border: 1px solid #ccc;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
  border-bottom: 1px solid #ccc;
}
div.selectBox {
  font-family: arial;
  font-size: 13px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  line-height: 21px;
  clear: both;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  color: #888;
}
span.selected {
  width: 200px;
  white-space: pre;
  text-indent: 5px;
  border-right: none;
  padding: 0;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: var(
    --bg-color
  ); /*#fefefe;
  background: -webkit-linear-gradient(
    top,
    #fefefe 45%,
    #ddd 100%,
    #e5e5e5 100%,
    #f7f7f7 100%
  );
  background: linear-gradient(
    to bottom,
    #fefefe 45%,
    #ddd 100%,
    #e5e5e5 100%,
    #f7f7f7 100%
  );*/
  height: 21px;
  overflow: hidden;
  outline: 0;
}
span.selected:hover {
  cursor: pointer;
}
span.selectArrow {
  background: #fbf9f4;
  background: -webkit-linear-gradient(top, #fbf9f4 46%, #dad9d2 100%);
  background: linear-gradient(to bottom, #fbf9f4 46%, #dad9d2 100%);
  width: 27px;
  border-left: 1px solid #ccc;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-user-select: none;
  padding: 0;
  user-select: none;
  outline: 0;
}
span.selectArrow:after {
  content: "❯";
  position: relative;
  display: inline-block;
  left: 9px;
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.renk {
  background-color: #a5a5a5;
  color: #fff;
}
span.selectArrow,
span.selected {
  position: relative;
  float: left;
  z-index: 1;
}
div.selectOptions {
  position: relative;
  top: -1px;

  left: 0;
  clear: both;
  width: 228px;
  border: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow-y: scroll;
  background: black /* #f6f6f6;*/;
  max-height: 300px;
  padding-top: 0;
  display: none;
}
#style-1::-webkit-scrollbar-track {
  margin-top: 2px;
  position: relative;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
#style-1::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
span.selectOption {
  font-size: 13px;
  display: block;
  line-height: 16px;
  white-space: pre;
  padding: 5px;
}
span.selectOption:hover {
  color: #f6f6f6;
  background: #ccc;
}

/***---switch box____*/
.container .form-switch {
  margin-bottom: 10px;
  margin-left: 80px;
}
.form-switch .form-check-input {
  border: 1px solid white;
  height: 30px;
  width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container .boxs .box .containerB i {
  margin-left: 220px;
  font-size: 45px;
  margin-top: 14px;
}
.container .boxs .box .containerB .text {
  font-size: 15px;
  top: 0;
  position: absolute;
  color: var(--white);
}
/*-----guuildlis
-------*/

@media screen and (min-height:800px){
  /*
.container .row .guild-list li {
    background:var(--nav-color);
    width:700px;
    
  }*/
  .guild-list li .btn{
    border:none;
    right:80px;
    position: absolute;
    margin-top:10px;
  }
  .guild-list li img{
    position: absolute;
    left:50px;
    
  }
  .guild-list{
  width:100%;
    top:200px;
  
  
  }}
.guild-list li {
  
  

  border-radius:5%;

  list-style:none;
  height:70px;
  }
  
  .guild-list li img{
  
    margin-top:10px;
    width: 52px;
    height:52px;
    object-cover: center;
    border-radius:50%;
  }
  .guild-list li .btn {
    margin-left:180px;
    border:none
  
    
    
    
  }
  .select-server {
    text-align: center;
  color:var(--white);
    font-size: 37px;
  }
/*---------- top csss*/
 .container  .row .top-section{
      position: relative;
      width:320px;
  margin-left:30px;
    
      background:var(--nav-color);
      margin-bottom: 40px;
      height:120px;
      
      border:1px solid #3D506C;
    }
    .container .row .top-section .name{
      margin-left: 20px;
      margin-top:80px;
      position: absolute;
    
      
    }
    .container .row .top-section .user-img{
      position: absolute;
      width:100%;
    }
    .container .row .top-section .user-img img{
    margin-left:-25px;
      transition: all 0.4s ease;
     -webkit-filter: blur(2px);
       filter:blur(2px);
    object-fit:cover;
      width:100%;
      height:60px; 
    }

.container .row .top-section .user-img:hover img{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  
  transition: all 0.4s ease;
  margin-top:-10px;
  
}




    .container .row .top-section .top-number {
  
    margin-top:-150px;
      width:60px;
      z-index:1;
      height:60px;
    border-radius:50%;
      
    
    background:var(--nav-color);
    
    }
    .container .row .top-section p{
    
  color:var(--white);
      font-weght:400;
      
    }
    
    

  .container .row .top-img p{
      color:gold;
      display:block;
      margin-top:70px;
      font-size:24px;
    
      margin-left:240px;
      
    }
    
    .container .row .top-section:hover .top-img img{
      
      display:none;
      
    }
  
    .container .row .top-section:hover .top-img p{
      
      
      display:block;
      transition: all 1s ease;
    }
