@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --white-text: white;
  --black: #18191c;
  --red-text: red;
  --nili: #00031c;
  --nilitox: #0d0027;
  --grey: #23272a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/background.jpeg");
  animation: fadein 30s ease-out infinite;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  font-family: "Quicksand", sans-serif;
}

@keyframes hama {
  from {
    background: gold;
    right: 10px;
  }
  to {
    background: var(--black);
    right: 100px;
  }
}

.all-header {
  color: var(--white-text);
  text-align: center;
}

/*-+++-+------ banner png*/
.main-container {
  width: 350px;
  height: 200px;
}
.main-container img {
  width: 150px;
  height: 150px;
  align-items: center;
  margin-left: 30px;
  border-radius: 40px;
}
/*------text in logo*/
.main-container .bobo-text {
  text-align: left;
  font-size: 40px;
  margin-left: 150px;
  text-shadow: 10px 10px 10px 10px rgba(0, 0, 0.5);
  color: var(--white-text);
}
.main-container .text-title p {
  color: var(--white-text);
  display: inline-block;
  margin-left: 50px;
  font-size: 16px;
}

/**----media*-*/
@media screen and (min-width: 500px) {
  .main-container {
    width: 450px;
  }

  .main-container {
    margin-left: 10rem;
  }
  .main-container .bobo-text {
    font-size: 60px;
  }
  .main-container .text-title {
    margin-left: 3em;
    display: block;
    font-size: 30px;
  }
}
/*---------*/

/*---max text*/
.banner-png .max-text {
  display: none;
}

/*---wave--------*/
/*
.wave-page {
  width: 100%;
  height: 100px;
  
  
  background-image: url('../img/wave.png');
}*/
/*------text contet***----*/

@keyframes anime {
  0% {
    background-color: var(--nili);
    background-position: 0% 50%;
  }
  50% {
    background-color: var(--nilitox);
    background-position: 100% 50%;
  }
  100% {
    background-color: var(--black);
    background-position: 0% 50%;
  }
}

/**-----fadin*/
@keyframes fadein {
  0% {
    background-color: var(--nili);
    background-position: 0% 50%;
  }
  50% {
    background-color: var(--nilitox);
    background-position: 100% 50%;
  }

  100% {
    background-color: var(--black);
    background-position: 0% 50%;
  }
}


  .boxs {
  display: grid;
  position:static;
  
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  
}

.boxs .box {

  
  height: 100px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  color: white;
  transition: 0.4s ease-out;
}

.boxs .box1 {
  border-radius:20px;
  background: url("https://imgur.com/tm2VIt4.png");
  background-position: center;
  width: 400px;
  left: 10px;
  background-size: 100%;
}

.boxs .box2 {
  background: url("https://imgur.com/sJn0yHt.png");
  width: 400px;
  left: 10px;
  background-position: center;
  background-size: 100%;
}

.boxs .box3 {
  background: url("https://imgur.com/hLsB4u6.png");
  width: 400px;
  left: 10px;
  background-position: center;
  background-size: 100%;
}
.boxs .box4 {
  left: 10px;
  width: 400px;
  background: url("https://imgur.com/OxWqyTN.png");
  background-position: center;
  
  background-size: 100%;
}

.boxs .box .containerB {
  position: absolute;
  padding: 0 0 0 10px;
  /* color: var(--text);*/
  color: #e8e7e7;
}

.boxs .box .containerB h3.bigText {
  font-size: 35px;
  position: static;
}

.boxs .box .containerB h3.bigText input {
  font-size: 35px;
  background: transparent;
  color: #e9f2fa;
  outline: none;
  border: none;
  width: 150px;
}

.boxs .statuses .containerB h3.bigText{
  position: static;
  font-size: 30px;
}

.boxs .box .containerB .heading {
  font-size: 17px;
  font-weight: 500;
  position: relative;
  top: -10px;
  color: #e9f2fa;
}

.boxs .statuses .containerB .heading {
  top: -5px;
}

.boxs .box .containerB .boxText {
  font-size: 13px;
  position: relative;
  top: -10px;
}
.servers {
  position: static;
/* margin-left: 150px;*/
  width:240px;
}
/*-------------all views commands css in here--++++*/

.container {
  margin: 0 auto;
  border-radius: 30px;
}

.container form {
 /* box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.5);*/
  border-radius: 30px;
}

.contact-form {
background: var(--grey);
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
}
.contact-form input {
  background-color: #2c2f33;
  color: #fff;
  border: none;
}
.contact-form textarea {

  width:270px;
  height:150px;
  background-color: #2c2f33;
  color: #fff;
 border: none;
}
.contact-form textarea:focus {
  background-color: #2c2f33;
  color: #fff;
  border: none;
}
.contact-form input:focus {
  background-color: #2c2f33;
  color: #fff;
  border: none;
}
.contact-form input:disabled {
  background-color: #2c2f33;
  color: rgb(73, 73, 73);
  border: none;
}
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}
.contact-image i {
  border-radius: 6rem;
  width: 11%;
  margin-top: -7%;
}
.contact-form form {
  padding: 14%;
}
.contact-form form .row {
  margin-bottom: -7%;
}
.contact-form h6{
  margin-top:70px;
  margin-right:170px;
}
.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}
.contact-form label {

  color: #fff;
}
.contact-form label i {
  font-size: 25px;
  line-height: 20px;
}

/****---------end--------------***/
@media only screen and (min-height:800px){
  
  .contact-form .col-md-6{
    
    margin-left: 120px;
    
  }
  
}

      HTML CSS Result Skip Results Iframe
*
{
    user-select: none;
}

*:focus
{
    outline: none;
}

html, body
{
    height: 100%;
    min-height: 100%;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 100px;
    margin: 0;
    background-color: #ebf3f3;
}

.brd
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

#info
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #2d3667;
    font-size: 16px;
    text-align: center;
    padding: 14px;
    background-color: #f3f9f9;
}

#app-cover
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 42px;
    margin: 100px auto 0 auto;
}

#select-button
{
    position: relative;
    height: 16px;
    padding: 12px 14px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#options-view-button
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#selected-value
{
    font-size: 16px;
    line-height: 1;
    margin-right: 26px;
}

.option i
{
    width: 16px;
    height: 16px;
}

.option, .label
{
    color: #2d3667;
    font-size: 16px;
}

#chevrons
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    padding: 9px 14px;
}

#chevrons i
{
    display: block;
    height: 50%;
    color: #d1dede;
    font-size: 12px;
    text-align: right;
}

#options-view-button:checked + #select-button #chevrons i
{
    color: #2d3667;
}

.options
{
    position: absolute;
    left: 0;
    width: 250px;
}

#options
{
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    width: 298px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
}

#options-view-button:checked ~ #options
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option
{
    position: relative;
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
}

.option i
{
    position: absolute;
    left: 14px;
    padding: 0;
    display: none;
}

#options-view-button:checked ~ #options .option i
{
    display: block;
    padding: 12px 0;
}

.label
{
    display: none;
    padding: 0;
    margin-left: 27px;
}

#options-view-button:checked ~ #options .label
{
    display: block;
    padding: 12px 14px;    
}

.s-c
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.s-c.top
{
    top: 0;
}

.s-c.bottom
{
    bottom: 0;
}

input[type="radio"]
{
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.s-c:hover ~ i
{
    color: #fff;
    opacity: 0;
}

.s-c:hover
{
    height: 100%;
    z-index: 1;
}

.s-c.bottom:hover + i
{
    bottom: -25px;
    animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i
{
    top: -25px;
    animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup
{
    0%{ bottom: -25px; opacity: 0;}
    100%{ bottom: 0; opacity: 1;}
}

@keyframes movedown
{
    0%{ top: -25px; opacity: 0;}
    100%{ top: 0; opacity: 1;}
}

.label
{
    transition: 0.3s ease all;
}

.opt-val
{
    position: absolute;
    left: 14px;
    width: 217px;
    height: 21px;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
}

.option input[type="radio"]:checked ~ .opt-val
{
    opacity: 1;
    transform: scale(1);
}

.option input[type="radio"]:checked ~ i
{
    top: 0;
    bottom: auto;
    opacity: 1;
    animation: unset;
}

.option input[type="radio"]:checked ~ i, .option input[type="radio"]:checked ~ .label
{
    color:#fff;
}

.option input[type="radio"]:checked ~ .label:before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#options-view-button:not(:checked) ~ #options .option input[type="radio"]:checked ~ .opt-val
{
    top: -30px;
}

.option:nth-child(1) input[type="radio"]:checked ~ .label:before
{
    background-color: #000;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val
{
    top: -31px;
}

.option:nth-child(2) input[type="radio"]:checked ~ .label:before
{
    background-color: #ea4c89;
}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val
{
    top: -71px;
}

.option:nth-child(3) input[type="radio"]:checked ~ .label:before
{
    background-color: #0057ff;
}

.option:nth-child(3) input[type="radio"]:checked ~ .opt-val
{
    top: -111px;
}

.option:nth-child(4) input[type="radio"]:checked ~ .label:before
{
    background-color: #32c766;
}

.option:nth-child(4) input[type="radio"]:checked ~ .opt-val
{
    top: -151px;
}

.option:nth-child(5) input[type="radio"]:checked ~ .label:before
{
    background-color: #f48024;
}

.option:nth-child(5) input[type="radio"]:checked ~ .opt-val
{
    top: -191px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .label:before
{
    background-color: #006400;
    border-radius: 0 0 4px 4px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .opt-val
{
    top: -231px;
}

.option .fa-codepen
{
    color: #000;
}

.option .fa-dribbble
{
    color: #ea4c89;
}

.option .fa-behance
{
    color: #0057ff;
}

.option .fa-hackerrank
{
    color: #32c766;
}

.option .fa-stack-overflow
{
    color: #f48024;
}

.option .fa-free-code-camp
{
    color: #006400;
}

#option-bg
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
}

#options-view-button:checked ~ #options #option-bg
{
    display: block;
}

.option:hover .label
{
    color: #fff;
}

.option:nth-child(1):hover ~ #option-bg
{
    top: 0;
    background-color: #000;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ #option-bg
{
    top: 40px;
    background-color: #ea4c89;
}

.option:nth-child(3):hover ~ #option-bg
{
    top: 80px;
    background-color: #0057ff;
}

.option:nth-child(4):hover ~ #option-bg
{
    top: 120px;
    background-color: #32c766;
}

.option:nth-child(5):hover ~ #option-bg
{
    top: 160px;
    background-color: #f48024;
}

.option:nth-child(6):hover ~ #option-bg
{
    top: 200px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
}

