@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --white-text: white;
  --black: #18191c;
  --red-text: red;
  --nili: #00031c;
  --nilitox: #0d0027;
  --grey: #23272a;
  --bg-color: #282d35;
  --form-input: #1e2023;
  --input-disabled: #26282b;
  --label-color: #fff;
  --form-background: #18191c;
  --button-green: #5865f2;
  --button-green-hover: #4554f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282d35;
  background-attachment: absolute;
  background-position: center center;
  background: var(--bg-color);
  animation: 30s ease-out infinite;
  background-size: cover;
  background-repeat: no-repeat;

  background-blend-mode: overlay;
  font-family: "Quicksand", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-body);
}

::-webkit-scrollbar-thumb {
  border: 1px solid #1e2023;
  background-color: var(--bg-section);
}

@keyframes hama {
  from {
    background: var(--bg-color);
    right: 10px;
  }
  to {
    background: var(--bg-color);
    right: 100px;
  }
}

.all-header {
  color: var(--white-text);
  text-align: center;
}

/*-+++-+------ banner png*/
.main-container {
  width: 350px;
  height: 200px;
}
.main-container img {
  width: 150px;
  height: 150px;
  align-items: center;
  margin-left: 30px;
  border-radius: 40px;
}
/*------text in logo*/
.main-container .bobo-text {
  text-align: left;
  font-size: 40px;
  margin-left: 150px;
  text-shadow: 10px 10px 10px 10px rgba(0, 0, 0.5);
  color: var(--white-text);
}
.main-container .text-title p {
  color: var(--white-text);
  display: inline-block;
  margin-left: 50px;
  font-size: 16px;
}

/**----media*-*/
@media screen and (min-width: 500px) {
  .main-container {
    width: 450px;
  }

  .main-container {
    margin-left: 10rem;
  }
  .main-container .bobo-text {
    font-size: 60px;
  }
  .main-container .text-title {
    margin-left: 3em;
    display: block;
    font-size: 30px;
  }
}
/*---------*/

/*---max text*/
.banner-png .max-text {
  display: none;
}

/*------text contet***----*/

@keyframes anime {
  0% {
    background-color: var(--nili);
    background-position: 0% 50%;
  }
  50% {
    background-color: var(--nilitox);
    background-position: 100% 50%;
  }
  100% {
    background-color: var(--black);
    background-position: 0% 50%;
  }
}

/**-----fadin*/
@keyframes fadein {
  0% {
    background-color: var(--bg-color);
    background-position: 0% 50%;
  }
  50% {
    background-color: var(--bg-color);
    background-position: 100% 50%;
  }
}

.boxs .box1 {
  background: url("https://imgur.com/wgljRvr.png");
  background-position: center;

  background-size: 100%;
}

.boxs .box2 {
  background: url("https://imgur.com/wH8wcgv.png");

  background-position: center;
  background-size: 100%;
}

.boxs .box3 {
  background: url("https://imgur.com/StTO12l.png");

  background-position: center;
  background-size: 100%;
}
.boxs .box4 {
  background: url("https://imgur.com/MZzt9zF.png");
  background-position: center;

  background-size: 100%;
}
.boxs .box {
  padding: 10px 10px 10px 10px;
  height: 100px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.05);
  position: relative;
  border-radius: 4px;
  color: white;
  transition: all 0.4s;
}

.boxs .box4 .containerB .heading,
.boxs .box4 .container .boxText {
  pointer-events: none;
}

.boxs .box .containerB {
  position: absolute;
  padding: 0 0 0 10px;
  color: var(--text);
}

.boxs .box .containerB h4.bigText {
  font-size: 35px;
  position: relative;
  margin-right: 100px;
  top: -40px;
}

.boxs .box .containerB h4.bigText input {
  font-size: 25px;
  background: transparent;
  color: white;
  outline: none;

  border: none;
  width: 150px;
}

.boxs .statuses .containerB h4.bigText {
  font-size: 30px;
}

.boxs .box .containerB .heading {
  font-size: 17px;
  font-weight: 500;
  position: relative;
  top: -10px;
}

.boxs .statuses .containerB .heading {
  top: -5px;
}

.boxs .box .containerB .boxText {
  font-size: 13px;
  position: relative;
  top: -10px;
}

.servers {
  position: static;
  /* margin-left: 150px;*/
  width: 240px;
}
/*-------------all views commands css in here--++++*/

.container {
  margin: 0 auto;
  border-radius: 30px;
}

.container form {
  /* box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.5);*/
  border-radius: 30px;
}

.contact-form {
  background: var(--grey);
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
}
.contact-form input {
  background-color: #2c2f33;
  color: #fff;
  border: none;
}
.contact-form textarea {
  width: 270px;
  height: 150px;
  background-color: #2c2f33;
  color: #fff;
  border: none;
}
.contact-form textarea:focus {
  background-color: #2c2f33;
  color: #fff;
  border: none;
}
.contact-form input:focus {
  background-color: #2c2f33;
  color: #fff;
  border: none;
}
.contact-form input:disabled {
  background-color: #2c2f33;
  color: rgb(73, 73, 73);
  border: none;
}
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}
.contact-image i {
  border-radius: 6rem;
  width: 11%;
  margin-top: -7%;
}
.contact-form form {
  padding: 14%;
}
.contact-form form .row {
  margin-bottom: -7%;
}
.contact-form h6 {
  margin-top: 70px;
  margin-right: 170px;
}
.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}
.contact-form label {
  font-size: 24x;
  line-height: 22px;

  color: #fff;
}
.contact-form label i {
  font-size: 25px;
  line-height: 20px;
}

/****---------end--------------***/
@media only screen and (min-height: 800px) {
  .boxs .box {
    position: relative;
    display: flex;
  }
  .contact-form .col-md-6 {
    margin-left: 120px;
  }
} /*
 .contact-form select {
   color:#4E5053;
   border:2px solid var(--black);
   background:var(--grey);
   
   width:200px;
}*/
/*command*/
.contact-form .col {
  line-height: 90px;
}
.contact-form .variables {
  display: flex;
  line-height: 40px;
  /*  margin-right:140px;*/
}
.contact-form .variables span {
  color: #a60c44;
}
.contact-form .variables p {
  font-size: 16px;

  margin-left: 10px;
  color: #454546;
}

.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*+----------wrda kari-------*/
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.py-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
.px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.max-w-7xl {
  max-width: 80rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.w-full {
  width: 100%;
}
.mt-2 {
  margin-top: 0.5rem;
}
.order-3 {
  order: 3;
}

/*--------select style*/
* {
  -webkit-user-select: none;
  user-select: none;
}
.selectdivx {
  border-radius: 5px;
  border: 1px solid #ccc;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
  border-bottom: 1px solid #ccc;
}
div.selectBox {
  font-family: arial;
  font-size: 13px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  line-height: 21px;
  clear: both;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  color: #888;
}
span.selected {
  width: 200px;
  white-space: pre;
  text-indent: 5px;
  border-right: none;
  padding: 0;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: var(
    --bg-color
  ); /*#fefefe;
  background: -webkit-linear-gradient(
    top,
    #fefefe 45%,
    #ddd 100%,
    #e5e5e5 100%,
    #f7f7f7 100%
  );
  background: linear-gradient(
    to bottom,
    #fefefe 45%,
    #ddd 100%,
    #e5e5e5 100%,
    #f7f7f7 100%
  );*/
  height: 21px;
  overflow: hidden;
  outline: 0;
}
span.selected:hover {
  cursor: pointer;
}
span.selectArrow {
  background: #fbf9f4;
  background: -webkit-linear-gradient(top, #fbf9f4 46%, #dad9d2 100%);
  background: linear-gradient(to bottom, #fbf9f4 46%, #dad9d2 100%);
  width: 27px;
  border-left: 1px solid #ccc;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-user-select: none;
  padding: 0;
  user-select: none;
  outline: 0;
}
span.selectArrow:after {
  content: "â¯";
  position: relative;
  display: inline-block;
  left: 9px;
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.renk {
  background-color: #a5a5a5;
  color: #fff;
}
span.selectArrow,
span.selected {
  position: relative;
  float: left;
  z-index: 1;
}
div.selectOptions {
  position: relative;
  top: -1px;

  left: 0;
  clear: both;
  width: 228px;
  border: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow-y: scroll;
  background: black /* #f6f6f6;*/;
  max-height: 300px;
  padding-top: 0;
  display: none;
}
#style-1::-webkit-scrollbar-track {
  margin-top: 2px;
  position: relative;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
#style-1::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
span.selectOption {
  font-size: 13px;
  display: block;
  line-height: 16px;
  white-space: pre;
  padding: 5px;
}
span.selectOption:hover {
  color: #f6f6f6;
  background: #ccc;
}

/***---switch box____*/
.container .form-switch {
  margin-bottom: 10px;
  margin-left: 80px;
}
.form-switch .form-check-input {
  border: 1px solid white;
  height: 30px;
  width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container .boxs .box .containerB i {
  margin-left: 220px;
  font-size: 45px;
  margin-top: 14px;
}
.container .boxs .box .containerB .text {
  font-size: 15px;
  top: 0;
  position: absolute;
  color: var(--white);
}
/*-----leadrboard--------*/
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #858796;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e3e6f0;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e3e6f0;
}
.table tbody + tbody {
  border-top: 2px solid #e3e6f0;
}
.table-sm td,
.table-sm th {
  padding: 0.3rem;
}
.table-bordered {
  border: 1px solid #e3e6f0;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #e3e6f0;
}
.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 2px;
}
.table-borderless tbody + tbody,
.table-borderless td,
.table-borderless th,
.table-borderless thead th {
  border: 0;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.table-hover tbody tr:hover {
  color: #858796;
  background-color: rgba(0, 0, 0, 0.075);
}
.table-primary,
.table-primary > td,
.table-primary > th {
  background-color: #cdd8f6;
}
.table-primary tbody + tbody,
.table-primary td,
.table-primary th,
.table-primary thead th {
  border-color: #a3b6ee;
}
.table-hover .table-primary:hover {
  background-color: #b7c7f2;
}
.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #b7c7f2;
}
.table-secondary,
.table-secondary > td,
.table-secondary > th {
  background-color: #dddde2;
}
.table-secondary tbody + tbody,
.table-secondary td,
.table-secondary th,
.table-secondary thead th {
  border-color: #c0c1c8;
}
.table-hover .table-secondary:hover {
  background-color: #cfcfd6;
}
.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #cfcfd6;
}
.table-success,
.table-success > td,
.table-success > th {
  background-color: #bff0de;
}
.table-success tbody + tbody,
.table-success td,
.table-success th,
.table-success thead th {
  border-color: #89e2c2;
}
.table-hover .table-success:hover {
  background-color: #aaebd3;
}
.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #aaebd3;
}
.table-info,
.table-info > td,
.table-info > th {
  background-color: #c7ebf1;
}
.table-info tbody + tbody,
.table-info td,
.table-info th,
.table-info thead th {
  border-color: #96dbe4;
}
.table-hover .table-info:hover {
  background-color: #b3e4ec;
}
.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #b3e4ec;
}
.table-warning,
.table-warning > td,
.table-warning > th {
  background-color: #fceec9;
}
.table-warning tbody + tbody,
.table-warning td,
.table-warning th,
.table-warning thead th {
  border-color: #fadf9b;
}
.table-hover .table-warning:hover {
  background-color: #fbe6b1;
}
.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #fbe6b1;
}
.table-danger,
.table-danger > td,
.table-danger > th {
  background-color: #f8ccc8;
}
.table-danger tbody + tbody,
.table-danger td,
.table-danger th,
.table-danger thead th {
  border-color: #f3a199;
}
.table-hover .table-danger:hover {
  background-color: #f5b7b1;
}
.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f5b7b1;
}
.table-light,
.table-light > td,
.table-light > th {
  background-color: #fdfdfe;
}
.table-light tbody + tbody,
.table-light td,
.table-light th,
.table-light thead th {
  border-color: #fbfcfd;
}
.table-hover .table-light:hover {
  background-color: #ececf6;
}
.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #ececf6;
}
.table-dark,
.table-dark > td,
.table-dark > th {
  background-color: #d1d1d5;
}
.table-dark tbody + tbody,
.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: #a9aab1;
}
.table-hover .table-dark:hover {
  background-color: #c4c4c9;
}
.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #c4c4c9;
}
.table-active,
.table-active > td,
.table-active > th {
  background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}
.table .thead-dark th {
  color: #fff;
  background-color: #5a5c69;
  border-color: #6c6e7e;
}
.table .thead-light th {
  color: #6e707e;
  background-color: #eaecf4;
  border-color: #e3e6f0;
}
.table-dark {
  color: #fff;
  background-color: #5a5c69;
}
.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: #6c6e7e;
}
.table-dark.table-bordered {
  border: 0;
}
.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}
.table-dark.table-hover tbody tr:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.075);
}
@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-responsive > .table-bordered {
  border: 0;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
