@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');



:root{
  --white-text: white;
  --black: #18191C;
  --red-text: red;
  --nili:#00031C;
  --nilitox:#0D0027;
  
}



*{
 box-sizing: border-box;
}

body {
  background-image:  url('../img/background.jpeg');
  animation: fadein 30s ease-out infinite;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  font-family: "Quicksand",sans-serif;

}

@keyframes hama{
 from{ background: gold;
 right: 10px;
   
 }
 to{
   background: var(--black);
   right: 100px;
 }
}

.all-header{
  
  color:var(--white-text);
  text-align: center;
  
  
}
.up-page{
  position: fixed;
  display: inline-block;
  top:0;
  left:0;
  width: 40px;
 height:100%;
  /*background-color: var(--nav-color);*/
  
}
.up-page .up-link img{
  width: 40px;
  height: 40px;

}
  



.up-link{
  position: absolute;
  display: none;
  height: 100%;
  width: 200px;
 
  
}

.up-link a{
 
  text-decoration: none;
  
}
.up-page .up-link .logo{
  color: var(--red-text)
}
.up-page .up-link span{
  color:var(--white-text) ;
 font-size: 20px;
text-align: center;

line-height: 70px;
 
}
.up-page .up-link li{
  
  list-style: none;
  
 }
 
.up-page .up-link li:hover {
  margin: 10px;
  margin-right: 20px;
  margin-left: 0px;
  padding: 10px;
  color: white;
  min-width: 100px;
  background-color: #272928;
  border-radius: 5px;
}

.up-page:hover .up-link{
  display: block;
  background-color: var(--black);
  top:0;
  left:0;
}
/*-+++-+------ banner png*/
.main-container{
 
  width: 350px;
  height: 200px;



}
.main-container img{
  width: 150px;
  height: 150px;
  align-items: center;
 margin-left: 30px;
 border-radius: 40px;
}
  /*------text in logo*/
  .main-container .bobo-text{
    text-align: left;
    font-size: 40px;
    margin-left: 150px;
    text-shadow: 10px 10px 10px 10px rgba(0,0,0.5);
    color: var(--white-text);
    
  }
  .main-container .text-title p{
    color: var(--white-text);
   display: inline-block;
    margin-left: 50px;
    font-size: 16px;
  }
  
  /**----media*-*/
  @media screen and (min-width: 500px){
 .main-container{
   width: 450px;
 }
    
.main-container {
  margin-left: 10rem;
  
}
.main-container .bobo-text{
  font-size: 60px;
}
.main-container .text-title{
   margin-left: 3em;
   display: block;
   font-size: 30px;
}
 

 
 
 
 
     }/*
     @media screen and(min-heigh: 400px){
       
       .main-container .text-title{
        display: inline-block;
         margin-left: 300px;
       }
       
       
       
       
       
       
       
     }*/
     /*---------*/
    
    
    
    
  /*---max text*/
  .banner-png .max-text{
    display: none;
  }
  
  /*---wave--------*/
/*
.wave-page {
  width: 100%;
  height: 100px;
  
  
  background-image: url('../img/wave.png');
}*/
/*------text contet***----*/

@keyframes anime {
  0% {background-color: var(--nili) ;
  background-position: 0% 50%;
  
  }
 50% {background-color: var(--nilitox);
  background-position: 100% 50%;
 
 }
  100%{
   background-color: var(--black);
   background-position: 0% 50%;
 }
}





/**-----fadin*/
@keyframes fadein{
  0% { background-color:var(--nili);
  background-position: 0% 50%;
  }
  50% {background-color: var(--nilitox);
  background-position: 100% 50%;
  }
  
  
 100%{
   background-color: var(--black);
   background-position: 0% 50%;
 }
  
}
 
/*-----accoutn style----*/

.boxs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    position: relative;
}

.boxs .box {
    height: 100px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.05);
    position: relative;
    border-radius: 4px;
    color: white;

      transition: 0.4s ease-out;
}

.boxs .box1 {
    background: url("https://pogy.xyz/cards/4.svg"), linear-gradient(150deg, #5A57C9, #44409A);
    background-position: center;
    background-size: 100%;
}

.boxs .box2 {
    background: url("https://pogy.xyz/cards/8.svg"), linear-gradient(150deg, #FFD3A5a5, #FD6F88a5);
    ;
    background-position: center;
    background-size: 100%;
}

.boxs .box3 {
    background: url("https://pogy.xyz/cards/10.svg"), linear-gradient(150deg, #ABDCFFa5, #1BA0FFa5);
    background-position: center;
    background-size: 100%;
}
.boxs .box5 {
    background: url("https://pogy.xyz/card/10.svg"), linear-gradient(150deg, #31A231, #90EE90);
    background-position: center;
    background-size: 100%;
}
.boxs .box6 {
    background: url(""), linear-gradient(150deg, #8b0000,  #FF0000);
    background-position: center;
    background-size: 100%;
}

.boxs .box4 .containerB .heading, .boxs .box4 .container .boxText {
    pointer-events: none;
}

.boxs .box4 {
    background: url("https://pogy.xyz/cards/4.svg"), linear-gradient(150deg, #48435A, #39384A);
    background-position: center;
    background-size: 100%;
}




.boxs .box .containerB {
    position: absolute;
    padding: 0 0 0 10px;
  /* color: var(--text);*/
  color: #E8E7E7
  
}

.boxs .box .containerB h3.bigText {
    font-size: 35px;
    /*position: relative;
    top: -5px; */
}

.boxs .box .containerB h3.bigText input {
    font-size: 35px;
    background: transparent;
    color: #E9F2FA;
    outline: none;
    border: none;
     width: 150px;
}

.boxs .statuses .containerB h3.bigText {
    font-size: 30px;
}

.boxs .box .containerB .heading {
    font-size: 17px;
    font-weight: 500;
    position: relative;
    top: -10px;
  color:#E9F2FA;
}

.boxs .statuses .containerB .heading {
    top: -5px;
}

.boxs .box .containerB .boxText {
    font-size: 13px;
    position: relative;
    top: -10px;
}
  
  
  
