<%- include ('../parts/head.ejs',{bot,user})%>
  <style>
    .amount{
      position: absolute;
      z-index:1;
      background:#717173;
      
      opacity:0.6;
      left:80px;
     margin-top:24px;
    }
    .amount span{
      color: var (--white);
      opacity:1;
    }
  </style>
  <div class="container">
    <% market.forEach((item)=>{%>
      
    <br><br>
    <img src="<%= item.assets.link%>" style="position: relative; width:230px; height:170px; border-radius:3%;"/>
      
                                        
 <div class="amount">
   
   <span><%= item.price%></span>
   
    </div>  
   <% })%>
  </div>
    
    
  
  
  
  <%- include ('../parts/foot')%>