<%- include ("../parts/head.ejs",{bot,user})%>
  <style>
    
    .item-body{
      box-shadow:10px 10px 10px 10px rgba(0,0,0,0.3);
      height:350px;
position: relative;
    }
    .item-body button{
      width:100px;
      
      position:relative;
      
    }
    .item-body button a {
      color:var(--white);
      text-decoration:none;
    }
    .row img{
      margin-top:50px;}
  </style>
  <br>
  <br>
  <br>
  <div class="container">
   <form method="POST">
    <div class="row">
      
      
    <div class="item-body">
    <img class="img-fluid" src="<%=img%>">
      
      <button type="button" id="liveToastBtn" class="btn btn-primary">Buy</button>
      <a  class="btn btn-danger" href="/items">Back</a>
  
        </div>
      
      
      
      
      </form>
     
     <div class="position-fixed" style="z-index: 100">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
    </div>
  </div>

  <script>
    
    var toastbtn = document.getElementById('liveToastBtn')
var toastbtnremove = document.querySelector(".btn-close")

var toastLive= document.getElementById('liveToast')
if (toastbtn) {
  toastbtn.addEventListener('click', function () {
    toastLive.classList.add("show");
  })

}
    if(toastbtnremove){
toastbtnremove.addEventListener('click', function (){
  toastLive.classList.remove("show");
})}
    
  
    var urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('success') && urlParams.get('success')){
    Swal.fire({
     icon: 'success',
     title: 'Succesfull...',
     closeOnConfirm: false,
     text: urlParams.get('message'),
     footer: 'All right reserved.'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = `/items`;
      }
    })
    }
    if(urlParams.has('error') && urlParams.get('error')){
    Swal.fire({
     icon: 'error',
     title: 'Oops...',
     text: urlParams.get('message'),
     footer: 'All right reserved.'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = '/item/<%=id?.id%>';
      }    
    })
    }
  </script>
  
  <%- include ("../parts/foot.ejs")%>