<%- include ("../parts/head.ejs",{bot,user})%>
  <style>
    
    .item-body{
      box-shadow:10px 10px 10px 10px rgba(0,0,0,0.3);
      height:350px;
position: relative;
    }
    .item-body button{
      width:100px;
      
      position:relative;
      
    }
    .item-body button a {
      color:var(--white);
      text-decoration:none;
    }
    .row img{
      margin-top:50px;}
  </style>
  <br>
  <br>
  <br>
  <div class="container">
   <form method="POST">
    <div class="row">
      
      
    <div class="item-body">
    <img class="img-fluid" src="<%=img%>">
      
      <button type="submit" class="btn btn-primary">Buy</button>
      <a  class="btn btn-danger" href="/items">Back</a>
  
        </div>
      </form>
     <button type="submit" onclick="click();" class="btn btn-danger">++++</button>
    </div>
  </div>

  <script>
    
  
    var urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('success') && urlParams.get('success')){
    Swal.fire({
     icon: 'success',
     title: 'Succesfull...',
     closeOnConfirm: false,
     text: urlParams.get('message'),
     footer: 'All right reserved.'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = `/items`;
      }
    })
    }
    if(urlParams.has('error') && urlParams.get('error')){
    Swal.fire({
     icon: 'error',
     title: 'Oops...',
     text: urlParams.get('message'),
     footer: 'All right reserved.'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = '/item/<%=id.id%>';
      }    
    })
    }
  </script>
  
  <%- include ("../parts/foot.ejs")%>