<%- include ('../parts/head.ejs',{bot,user})%>
  
  
  <br>
  <br>
  <div class="container">
    
    <div class="row">
      <div class="col-2 md">
        <% docs.slice(0,10).map((u,i) => {%>
        <div class="name">
      
          <span> a.get(u.id)?.user.tag</span>
          
        </div>
        <div class="top-number">
        </div>
        <div class="xp">
        </div>
        <% })%>  
      </div>
    </div>
  </div>
  
  
  <%- include ('../parts/foot.ejs')%>