<%- include ("../parts/head.ejs",{bot,user,path})%>
        
        <div class="row layout-top-spacing" id="cancel-row">
        
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">
                    <table id="default-ordering" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Country</th>
                                <th>Total viewers</th>
                                <th class="invisible"></th>
                                <th class="invisible"></th>
                                <th class="invisible"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% docs.slice(0,10).map((u,i) => {
            
            const rank = String(i+1);%>
                            <tr>
             <td translate="no"><span style="display: flex; align-items: center;">&nbsp;<%= 6-rank.length + rank%></span></td>
          <td><span style="display: flex; align-items: center;"><%=5-String(u.data.level).length) + u.data.level,
          </span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <% 
                            })
                            } 
                            %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>User Name</th>
                                <th>Total User</th>
                                <th class="invisible"></th>
                                <th class="invisible"></th>
                                <th class="invisible"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

  
  
  
  
  
  <%- include ("../parts/foot.ejs")%>