<%- include('./parts/head.ejs')%>
  
  <br>
  <br>
  
  
  <div class="container">
    
    <div class="min-container">
            <h1>Bans</h1>
                     <h2>There's Nothing Here</h2>
          <p>Sorry sir you are banned from BoBo bot we mentioned you as a law breaker if you want appeal please join our server and contact owners  </p>

      <div class="text-content">
             <p>
            「 Perhaps Bobo was here, but she just became invisible due to her puberty syndrome. If so then you're too late. 」
        </p>
          </div>
          <div class="link-back">
          <p> <a href="/support">Join Our server</a> </p>

          </div>
    </div>
  </div>

  <%- include ("./parts/foot.ejs")%>