<%- include ("./parts/head.ejs")%>
  
  
  <div class="container">
    
    
    
      <h3>What is our partner</h3>
    <ol>
      <li>our partners share our server and website. and support our bot in own servers </li>
    </ol> <h3>how can be a partner</h3>
   <ol> <li>You can be a partner in our server to contact modertors and Administrator or owner </li>
    </ol> <h3>What is require to be a partner</h3>
    <ol>
      <li>Partner required:</li>
      <li>your server must have 500 members or above</li>
      <li>Your server must following Discord terms</li>
      <li>Owner must join support server of Bot </li>
      <li>Your server must not including any NSFW (Video, image, voices)</li>
      <h3>For bots</h3>
      <ol>
        <li>Your bot must verified or in verifying process</li>
        <li>Your bot must not including any NSFW commands </li>
        <li>Your bot must have A good host and not any problem in commmands when testing</li>
      
        
    </ol>
    
    
      <h3>What you do for our partners</h3>
        <li>for servers: we share server in our discord server </li>
      <li>Share server in <a style="text-decoration:none;" href="https://boboworld.tk/partners">Dashboard</a> partner section</li>
      <li> we give partner role to owner server
        
        </ol>
      
      </li>
      <h3></h3>
      <li></li>
      <h3></h3>
      <li></li>
      <h3></h3>
      <li></li>
    </ol>
    
    
    
    
  </div>
  
  
  <%- include ("./parts/foot.ejs")%>
    
    