<%- include ("./parts/head.ejs")%>
  
  <style>
    .container ol h3 {
      color: var(--sharabi)
    }
  </style>
  <div class="container">
    
    
    
      <h3>What is our partner</h3>
    <ol>
      <li>our partners share our server and website. and support our bot in own servers </li>
    </ol> <h3>how can be a partner</h3>
   <ol> <li>You can be a partner in our server to contact modertors and Administrator or owner </li>
    </ol> <h3>What is require to be a partner</h3>
    <ol>
      <li>Partner required:</li>
      <li>your server must have 500 members or above</li>
      <li>Your server must following Discord terms</li>
      <li>Owner must join support server of Bot </li>
      <li>Your server must not including any NSFW (Video, image, voices)</li>
      <h3>For bots</h3>
      <ol>
        <li>Your bot must verified or in verifying process</li>
        <li>Your bot must not including any NSFW commands </li>
        <li>Your bot must have A good host and not any problem in commmands when testing</li>
      
        
    </ol>
    
    </ol>
      <h3>What you do for our partners</h3>
    <ol>
        <li>for servers: we share server in our discord server </li>
      <li>Share server in <a style="text-decoration:none;" href="https://boboworld.tk/partners">Dashboard</a> partner section</li>
      <li> we give partner role to owner server and support fasting than anyone</li>
      <li>we gove them monthly amount of money of BoBo cash </li>
        <hr>
      <li> for Bots: We share your bot website or server in our server and Dashboard</li>
      <li>Inviting your bot to our servers</li>
      <li> give partner role to owner of bot in our server and support fasting than anyone<li>
      
      
        </ol>
      
      
      <h3>What is you must do?</h3>
    <ol>
      <li>You must share our server in your server</li>
     
      <li>inviting BoBo bot to your servers</li>
    
      <li>Share BoBo dashboard in your website or server </li>
    </ol>
    
    
    
    
  </div>
  
  
  <%- include ("./parts/foot.ejs")%>
    
    