<%- include ("./parts/head.ejs")%>
  
  
  <div class="container">
    
    
    <ol>
      
      
      <h3>What is our partner</h3>
      <li>our partners share our server and website. and support our bot in own servers </li>
      <h3>how can be a partner</h3>
    <li>You can be a partner in our server to contact modertors and Administrator or owner </li>
      <h3>What is require to be a partner</h3>
      <li>Partner required:</li>
      <h3></h3>
      <li></li>
      <h3></h3>
      <li></li>
      <h3></h3>
      <li></li>
    </ol>
    
    
    
    
  </div>
  
  
  <%- include ("./parts/foot.ejs")%>
    
    