<%- include ("./parts/head",{bot})%>
  
  <br>
  <br>
  <style>
    
    .command-list {
      
      line-height:90px;
    }
    .command-list li{
      color:var(--white);
      left:0;
      list-style:none;
    }
  </style>
  <div class="container">
  <h3 class="btn btn-danger" disabled> Some Of commands Transferred to dashboard</h3>
  <br>
  <br>
  <h3 class="btn btn-danger">This is not all command coming soon</h3>
  
    <div class="columns is-multiline is-desktop is-variable is-7 mt-3 pt-5">

      <ul class="command-list">
        
        <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
          <li> <details><summary>Balance</summary><p>Usage:
Bobalance</p></details></li>
        
  <li> <details><summary>Give</summary><p>Usage:
Bogive @user (amount) </p></details></li>
        
  <li> <details><summary>Birthday</summary><p>Usage:
Bobirthday</p></details></li>
        
  <li> <details><summary>hug</summary><p>Usage:
Bohug @user</p></details></li>
        
  <li> <details><summary>marry</summary><p>Usage:
Bomarry @user</p></details></li>
        
  <li> <details><summary>kiss</summary><p>Usage:
Bokiss @user</p></details></li>
        
  <li> <details><summary>ship</summary><p>Usage:
Boship @user</p></details></li>
        
  <li> <details><summary>slap</summary><p>Usage:
Boslap @user</p></details></li>
        
  <li> <details><summary>coinflip</summary><p>Usage:
Bocf (amount)</p></details></li>
        
  <li> <details><summary>slots</summary><p>Usage:
Bos (amount)</p></details></li>
        
  <li> <details><summary>help</summary><p>Usage:
Bohelp</p></details></li>
        
  <li> <details><summary>invite</summary><p>Usage:
Boinvite</p></details></li>
        
  <li> <details><summary>ping</summary><p>Usage:
Boping</p></details></li>
        
  <li> <details><summary>serverinfo</summary><p>Usage:
Boserverinfo</p></details></li>
        
  <li> <details><summary>userinfo</summary><p>Usage:
Bouserinfo</p></details></li>
        
  <li> <details><summary>avatar</summary><p>Usage:
Boavatar</p></details></li>
        
  <li> <details><summary>vote</summary><p>Usage:
Bovote</p></details></li>
        
  <li> <details><summary>support</summary><p>Usage:
Bosupport</p></details></li>
        
  <li> <details><summary>profile</summary><p>Usage:
Boprofile (amount)</p></details></li>
        <!--
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>-->
        

      </ul>
    </div>
  </div>
 
  
  <%- include ('./parts/foot')%>