<%- include ("./parts/head",{bot})%>
  
  <br>
  <br>
  <h3 style="margin-left:10px;"><a class="bg-dark btn btn-danger" disabled> Some Of commands Transferred to dashboard</a></h3>
  <div class="container">
  
    
    <% bot.commands.map((a)=>{ %>
      <ul>
        
        <li><%= a.name %></li>
        
      </ul>
      
      <%  }) %>
  </div>
 
  
  <%- include ('./parts/foot')%>