<%- include ("./parts/head",{bot})%>
  
  <br>
  <br>
  <h3 style="margin-left:10px;"><a class="bg-dark btn btn-danger" disabled> Some Of commands Transferred to dashboard</a></h3>
  <div class="container">
  
    

      <ul>
        
        <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
          <li> <details><summary>Balance</summary><p>Usage:
Bobalance</p></details></li>
        
  <li> <details><summary>Give</summary><p>Usage:
Bogive @user (amount) </p></details></li>
        
  <li> <details><summary>Birthday</summary><p>Usage:
Bobirthday</p></details></li>
        
  <li> <details><summary>hug</summary><p>Usage:
Bohug @user</p></details></li>
        
  <li> <details><summary>marry</summary><p>Usage:
Bomarry @user</p></details></li>
        
  <li> <details><summary>kiss</summary><p>Usage:
Bokiss @user</p></details></li>
        
  <li> <details><summary>ship</summary><p>Usage:
Boship @user</p></details></li>
        
  <li> <details><summary>slap</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        
  <li> <details><summary>Daily</summary><p>Usage:
Bodaily</p></details></li>
        

      </ul>
  
  </div>
 
  
  <%- include ('./parts/foot')%>