<%- include ('./parts/head.ejs',{bot,user})%>
  <h3 class="all-header">Welcome to my dashboard </h3>

  
  
<div class="container">
  <% if(user){%>
    
    
    <div class="user-money"><%=data.money%> Your balance <i class="fa-solid fa-credit-card"></i> </div>
    <%}%>
  

  
  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  <%- include ('./parts/foot.ejs')%>