<%- include ('./parts/head.ejs',{bot,user})%>
  <h3 class="all-header">Welcome to my dashboard </h3>

  
  
<div class="container">
  <% if(user){%>
    <h7 style="color:white; text-align: center;">balance</h7>
    <div class="boxA box">
    <h3 class="bigtext1"><i class="fa-solid fa-credit-card"></i><%=data.momey%></h3>
  
      </div>
      
      <% } %>
  

  
  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  <%- include ('./parts/foot.ejs')%>