<%- include('./parts/head.ejs')%>
  
  <br>
  <br>
  
  
  <div class="container">
    
    <div class="min-container">
            <h1>404</h1>
                     <h2>There's Nothing Here</h2>
          <p>
            Unfortunately, that page does not exist at all. <br>
            If someone gave you this link, you've been trolled!
          </p>

      <div class="text-content">
             <p>
            「 Perhaps Bobo was here, but she just became invisible due to her puberty syndrome. If so then you're too late. 」
          </p>
          </div>
          <div class="link-back">
          <p> <a href="/">Back to Home</a> </p>

          </div>
    </div>
  </div>

  <%- include ("./parts/foot.ejs")%>