 <%- include ('./parts/meta.ejs',{bot,user})%>
 <div class="fade-in">
    
  <div class="main-container">
   <br>
    <br>
      <img  loading="lazy" style="height:150px; width:150px; border-radius:50%;" src="https://boboworld.xyz/img/logo.jpg"/>
    
    <h3 class="bobo-text text-break">BOBO BOT DASHBOARD</h3>
    <div class="text-title">
    <p class="text-break">Welcome to BoBo Discord Bot Dashboard you can add Welcome ,logs, moderation,  Auto roles and many many more!</p>
    </div>
  </div>
  </div>

 <br><br>
   <br>
   

       <div class="button-container">

         <ul>
        
         
        
 
         <% if (user){ %>
           <li><a href="/dashboard/guild"><i class="fa-solid fa-share"></i>Dashboard</a></li>
           <br>
          
          
           <li><a href="/support"><i class="fa-brands fa-discord"></i>Discord</a></li>
           
     <br>
           <li><a href="/invite"><i class="fa-solid fa-share-nodes"></i>Invite</a></li>
      
        
        <% }else{%>
          
          
          <li class="login"><a href="/login"><i class="fa-solid fa-right-to-bracket"></i>Login</a></li>
          <br>
          
          <li><a href="/support"><i class="fa-brands fa-discord"></i>Discord</a></li>
      <br>
      
          <li><a href="/invite"><i class="fa-solid fa-share-nodes"></i>Invite</a></li>
<% } %>

  </ul>
    </div>
      
    <br><br>
 
    
    
    <div  class="container">
      
    <br>
      <br>
      <br>
  
      <div class="row">
        <div class="col-xl-3 col-md-6 mb-4" style="color:white;text-align: center;">
          
          
        <img src="https://boboworld.xyz/img/mod.svg" width="130px" height="130px">
        <h1>Moderation</h1>
        <br>
        <p>Ban, kick, mute, and warn with ease. With persistent logs, rest assured that you can point fingers when something goes wrong.</p>
        
        <ul>
          <li><i class="fa-solid fa-check" style="color:#18AD58"></i> slashcommand support</li>
          
          <li><i class="fa-solid fa-check" style="color:#18AD58"></i> Individual command permissions</li>
          <li> <i class=" fa-solid fa-check" style="color:#18AD58"></i> Persistent audit logs</li>
          </ul>
            
          
          </div>
            <div class="col-xl-3 col-md-6 mb-4" style="color:white;text-align: center;">
              <img src="https://boboworld.xyz/img/VideoLibrary.png" width="130px;" height="130px" loading="crazy">
        <h1>Music</h1>
          <p>Hang out with your server members in voice and stage channels all while vibing to your favorite music using Mai's high quality player for the low price of free.</p>
          <ul>
            <li><i class="fa-solid fa-check" style="color:#18AD58"></i> High quality music</li>
            <li><i class="fa-solid fa-check" style="color:#18AD58"></i> Music controls and effects</li>
            <li><i class="fa-solid fa-check" style="color:#18AD58"></i> Easy to use commands</li>
          </ul>
        </div>
            <div class="col-xl-3 col-md-6 mb-4" style="color:white;text-align: center;">
              <img src="https://boboworld.xyz/img/statusbar.png" width="130px" height="130px"loading="crazy">
              
              <h1>Economy</h1>
              <p>transfer, daily, balance, secure your balance easy to transfer </p>
             <ul>
              
              <li><i class="fa-solid fa-check" style="color:#18AD58"></i> easy to use</li>
              <li><i class="fa-solid fa-check" style="color:#18AD58"></i> Slash commands for easy access</li>
              </ul>
            </div>  
      <div class="col-xl-3 col-md-6 mb-4" style="color:white;text-align: center;">
          
        <img src="https://boboworld.xyz/img/welcome.png" width="130px" height="130px">
        
        <h1>Welcomer</h1>
        <p> welcome system with custom image include (member, memberCount, server name</p>
      
    
      
        </div>
      
      
      
      
           </div>
           <br>
           <br>
           
           
           <ul class="bot-info">
          
             <li class="user-info">+<%= guild %> <i class='bx bxs-user'></i> <span>USERS</span></li>
                
      
                 <li class="guild-info">+<%=bot.guilds.cache.size%>
                   <i class='bx bxl-discord-alt' ></i> <span>SERVERS</span></li>
                
                
                   </ul>
             
             
             
    
<%- include ('./parts/foot.ejs')%>
