 <%- include ('./parts/head.ejs',{bot,user})%>
 <div class="all-background">
  <div class="up-page">
    <!--
              <div class="nav-bar-toggle">
        <span class="bar">hip</span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
-->
<div class="icons">
<div class="icon"><i class="fas fa-arrow-right"></i>
</div>

</div>
<script>
  
</script>
  <div class="up-link">
  <span class="logo"><img src="https://i.imgur.com/BnLgepd.png"/>Bobo website</span>
     <ul>
    <li>
      <a href="about.html">
      <span><i class="fas fa-info"></i> About</span>
      </a>
    </li>
        <li>
      <a href="/commands">
      <span><i class="fas fa-align-center"></i> Commands</span>
      </a>
    </li>
     
     </div>
    
  </div>
  <br><br>
  <div class="fade-in">
    
  <div class="main-container">
   
      <img  src="https://i.imgur.com/BnLgepd.png"/>
    
    <h3 class="bobo-text"> BoBo
    </h3>
    <div class="text-title">
    <p>BoBo new bot in discord made by BoBo devlopers we use DiscordJs and Mongo db in bot without any lag or any issues  </p>
    </div>
  </div>
  </div>

 <br>
   
 <br>
  
 <br>
  
 <br>
  
 <br>
  
 <br>
  
 <br>
  
 <br>
  
 <br>
  
 <br>
  
       <<div class="button-container">
      <li><a href"">Discord</li></a>
      <br><br><br>
      <% if(user){%>
      <li><a href="/dashboard">dashboard</a></li>
      <%}else{%>
      <li><a href="/login">Login</a></li>
      <%}%>
      
      
      <li><a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id %>&permissions=8&scope=bot%20applications.commands">Invite</a></li>

     
    </div>

    <br><br>
    <br>
    <br>  
    
    <div class="wave-page">
      </div>
    <div class="container">

    
  
  
 <div class="text-page">
   <div class="text-contet">
   <h3>XP SYSTEM</h3>
   <p>BoBo bot include powerful and amazing xp system with level </p>
   
   
   </div>
 </div>
  <div class="text-page">
   <div class="text-contet">
   <h3>SOCIAL</h3>
   <p>BoBo have a amazing profile and rank card with leaderboard </p>
   
   
   </div>
 </div>
 <div class="text-page">
   <div class="text-contet">
   <h3></h3>
   <p>BoBo bot include powerful and amazing xp system with level </p>
   
   
   </div>
 </div></div>
</div>















     <script src="https://cdn.jsdelivr.net/npm/typed.js@2.1.12"></script>
   <!--  <script>
     
     
     var typed = new Typed(".bobo-text", {
  strings: ["Welcome to my website", "Iam Gaming and Funny bot"],
  typeSpeed: 150,
  backSpeed: 150,
  loop: true

})</script>-->
<script src="../js/main.js"></script>
<%- include ('./parts/foot.ejs')%>