 <%- include ('./parts/head.ejs',{bot,user})%>
 
  <br><br>
  <div class="fade-in">
    
  <div class="main-container">
   
      <img  src="https://i.imgur.com/BnLgepd.png"/>
    
    <h3 class="bobo-text"><%= bot.user.username%>
    </h3>
    <div class="text-title">
    <p><%= bot.user.username%> new bot in discord made by Bobo devlopers we use DiscordJs and Mongo db in bot without any lag or any issues  </p>
    </div>
  </div>
  </div>

 <br>
   
 <br>
  
 <br>
  
 <br>
  
 <br>
  
 <br>
  
 <br>
  
 <br>
  
 <br>
  
 <br>
  
       <div class="button-container">

         <ul>
        
         
        
 
         <% if (user){ %>
      <li><a href="/dashboard/guilds">dashboard</a></li>
           
          
          <br>
           <li><a href="/dc">Discord</a></li>
           
     <br>
           <li><a href="/invite">Invite</a></li>
      
        
        <% }else{%>
          <li><a href="/dc">Discord</a></li>
         <br> 
     <li><a href="/login">Login</a></li>
     
      <br>
      
      <li><a href="/invite">Invite</a></li>
<% }%>

     
    </div>
          </ul>
    <br><br>
    <br>
    <br>  
    
    
    <div class="container">

    
  
  
 <div class="text-page">
   <div class="text-contet">
   <h3>XP SYSTEM</h3>
   <p>BoBo bot include powerful and amazing xp system with level </p>
   
   
   </div>
 </div>
  <div class="text-page">
   <div class="text-contet">
   <h3>SOCIAL</h3>
   <p>BoBo have a amazing profile and rank card with leaderboard </p>
   
   
   </div>
 </div>
 <div class="text-page">
   <div class="text-contet">
   <h3></h3>
   <p>BoBo bot include powerful and amazing xp system with level </p>
   
   
   </div>
 </div></div>
</div>
           
           <br>
           <br>
           
           
           <div class="bot-info">
             <div class="user-info>
             
             
             
             















    
    <script>
     
     
     var typed = new Typed(".bobo-text", {
  strings: ["Welcome to my website", "Iam Gaming and Funny bot"],
  typeSpeed: 150,
  backSpeed: 150,
  loop: true

})</script>
<script src="../js/main.js"></script>
<%- include ('./parts/foot.ejs')%>