<%- include ('../parts/head.ejs',{bot,user}%>
  
  <br>
  <br>
  
  
  <div class="container">
    <div class="row">
      
      
      
    </div>
    
    
    
  </div>
  
  
  
  
  
  
  <%- include ('../parts/foot')%>