<%- include ("./parts/head.ejs")%>
  <style>
    h1{
      color: var(--sharabi);
      display:flex;
      justify-content: space-between;
    }
    h1 p{
      color:var(--white);
    }
    .list{
      border-radius: 5%;
      width:100%;
      height:140px;
      background: var(--nav-color);
      
      
    }
  </style>
  <br>
  <br>
<div class="container">
  <h1>OUR<p>POLICY AND TERMS</p></h1>
  <div class="column">
    <div class="list">
      
    </div>
  </div>
  </div>
  <%- include ("./parts/foot")%>