<%- include ("./parts/head.ejs")%>
  <style>
    h1{
      color: var(--sharabi);
      display:flex;
      
    }
    h1 p{
      color:var(--white);
    }
    
    .list{
  
      border-radius: 5%;
      width:100%;
      height:100%;
    
      
      
    }
    .list .page{
      height:100%;
      border-radius: 10%;
      width:100;
      transition: all 1s ease;
      background:var(--nav-color);
    }
      
  .list .page:hover{
    margin-bottom:50px;
    transition: all 1s ease;
    box-shadow:0px 5px 5px 0px;
    }
  </style>
  <br>
  <br>
<div class="container">
  <h1>OUR<br><p>POLICY AND TERMS</p></h1>
  <div class="column">
    <div class="list">
      <div class="page">
      <h3>What Data Do We Store?</h3>
      
      
      
      <p>we do not collect any personal information relating your account like <p style="color:gold">Passwords or any other Credentials. The data we collect includes the User IDs, Server IDs, Channel IDs and Some Role IDs.</p> The bot never requests for any personal data of the users and any act that breaks the Tos of Discord is discouraged by us!</p>
    </div>
    <div class="page">
      <h3>Why We Need This Data?</h3>

      <p>The data is required for the proper functioning of the bot features •  <p style="color:gold">mute role • set prefix • set xp channel • userxp reset • xp enable • xp reset • xptoggle • economy • modlogs channel and toggle able • welcoming and leaving• and many many more.</p> Without this data, our bot will not be able to perform these activitie and thus making the features inaccessible for users</p>
  </div>
  <div class="page">
      <h3>How Long Do We Store Your Data?
?</h3>

      <p>The data is stored as long as the bot is in your Server and as soon as the bot is kicked or removed from the Server, the data is deleted and is no longer to accessable to anyone
    </p></div><div class="page">
  <h3> who do We Share The DATA with?</h3>
  <p>
We never share your data with anyone except for MongoDB Inc which is a DataBase Company and all the data for our Bot is stored on the MongoDB Servers and According to MongoDB Inc. the data is only accessable by us.
  </p></div> <div class="page">
  <h3>Got Concerns Or Queries?</h3>
  <p>
    
If you have any concerns or queries relating our privacy policy or our bot or if you want your data to be removed, You can contact on our 
  </p> 
  </div>
  <div class="page">
    <h3>Changes To Privacy Policy And ToS</h3>
    <p>You may know that, We have all the rights to change our Privacy Policy and ToS at anytime, without any prior notice to any server or user. You may request for your Data deletion in our Official Support Server, if you don't want to comply with our Privacy Policy and ToS.</p></div>
 
  <div class="page">
    <h3>24/7 Support
Yes 24/7 is onlin
  </div>
  </div>
  </div>
  <%- include ("./parts/foot")%>